<header class="blog-header">
  <h1 class="blog-title">{{ page.title | page.intro }}</h1>

  {% if page.show_meta %}
  <div class="meta_info">
    {% if page.author %}
    <div class="author-date-wrap">
      <div class="author">
        <a href="/about">{{ page.author }}</a>
      </div>
    </div>
    {% endif %}
    {% if page.date %}<span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>{% endif %}
    {% if page.categories %}
    <ul class="article-tag">
      {% for cat in page.categories %}
      <li>
        <a href="/categories/{{ cat }}">{{ cat }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}
</header>
